div.background {
    all: initial;
    display: table-cell !important;
    background-color: #AAAAAA !important;
    position: fixed !important; 
    z-index: 2139999999 !important; 
    bottom: 0 !important; 
    left: 0 !important; 
    width: 100% !important; 
    height: 2em !important;
    vertical-align: middle !important;
}

div.inputcontainer {
    all: initial;
    display: flex !important;
    position: absolute !important;
    background-color: #FFFFFF !important;
    top: 50% !important;
    left: 50% !important;
    bottom: 0% !important;
    transform: translate(-50%, -50%) !important;
    height: 93% !important;
    width: calc(100% - 2px) !important;
}

div.labelcontainer {
    white-space:nowrap;
}

div.interactcontainer {
    white-space:nowrap;
    flex: 1;
}

input.searchinput {
    /*line-height: 12px;*/
    all: initial;
    padding: 5px !important;
    border: 0px !important;
    height: 100% !important;
    width: calc(100% - 120px) !important;
    left: 0% !important;
    background: #FFFFFF !important;
    font-family: roboto !important;
    font-size: 20px !important;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
    /*height: 1em !important;*/
}

input.searchbutton {
    display: inline-block;
    height: 89% !important;
    width: 33px !important;
    border: 0px !important;
    top: 45% !important;
    margin-top: 2px;
    transform: translate(0%, 0%) !important;
    padding: 0px 0px 0px 0px !important;
    font-family: roboto !important;
    font-size: 20px !important;
    text-align: center;
    color: #777777;
    background-color: #F7F7F7;
    border-radius: 20%;
    transition: all 0.2s;
}

input.searchbutton:hover {
    background-color: #CCCCCC;
}

#synonymcheck {
    /*height: 100%;*/
    /*display: inline-block;*/
    /*top: calc(50% - 2px);*/
    margin: auto;
    padding: 10px;
}

span.searchmatches {
    font-family: Roboto !important;
    font-size: 20px;
    color: #BBBBBB;
    text-align: center;
    margin-left: 5px;
    margin-right: 10px;
    float: right;
    height: 100%;

}

mark {
    background: #fbff0e;
}

mark.current {
    background: #5bff0e;
}
