div.background {
    all: initial;
    display: table-cell !important;
    background-color: #AAAAAA !important;
    position: fixed !important; 
    z-index: 2139999999 !important; 
    bottom: 0 !important; 
    left: 0 !important; 
    width: 100% !important; 
    height: 2em !important;
    vertical-align: middle !important;
}

div.inputcontainer {
    all: initial;
    display: inline-block !important;
    position: absolute !important;
    background-color: #FFFFFF !important;
    top: 50% !important;
    left: 50% !important;
    bottom: 0% !important;
    transform: translate(-50%, -50%) !important;
    height: 93% !important;
    width: calc(100% - 2px) !important;
}

input.searchinput {
    /*line-height: 12px;*/
    all: initial;
    padding: 5px !important;
    border: 0px !important;
    height: 100% !important;
    width: 80% !important;
    left: 0% !important;
    background: #FFFFFF !important;
    font-family: sans-serif !important;
    font-size: 20px !important;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
    /*height: 1em !important;*/
}

input.searchbutton {
    height: 100% !important;
    width: 50px !important;
    border: 0px !important;
    top: 45% !important;
    transform: translate(0%, 0%) !important;
    padding: 0px 0px 0px 0px !important;
    font-family: sans-serif !important;
    font-size: 20px !important;
    color: #777777;
}

#synonymcheck {
    /*height: 100%;*/
    /*display: inline-block;*/
    /*top: calc(50% - 2px);*/
    margin: auto;
    padding: 10px;
}

label {
    font-family: sans-serif !important;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 10px;
}

mark.current {
    background: orange;
}
